@font-face {
  font-family: 'Macondo';
  font-style: normal;
  font-weight: 400;
  src: local('Macondo'), local('Macondo-Regular'), url(/static/fonts/google/Macondo-regular.ttf) format('truetype');
}

span.brand {
  font-family: 'Macondo', sans-serif;                
}

.navbar {
}

.navbar-brand {
    font-family: 'Macondo', sans-serif;                
}

h1 {
  margin: 30px 0 20px 0;
}
