<html>
	<head>
		<title>{{owner.name}}/{{document.name}} - Draft.Cloud</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" integrity="sha256-VBrFgheoreGl4pKmWgZh3J23pJrhNlSUOBek+8Z2Gv0=" crossorigin="anonymous">

        <style type="text/css">
        	body, .ql-editor {
			font-size: 16px;
        	}
		footer {
			cursor: default;
			padding: 3px 5px;
			font-size: 11.5px;
			background-color: #FFC;
			color: #444;
		}
        </style>
	</head>
	<body>

	<div id="editor">
	<div class="draftdotcloud-widget"
		data-draftdotcloud-widget="quill"
		data-draftdotcloud-owner="{{owner.name}}"
		data-draftdotcloud-document="{{document.name}}"
		></div>
        <script>draftdotcloud_widget_options = {
          sizeTo: "container",
          placeholder: "Share this page with anyone you would like to edit with."
        };</script>
	</div>

	<footer>
	Thanks for trying Draft.Cloud. This website is a prototype. Documents may be deleted 30 days after their last edit.
	</footer>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script src="/socket.io/socket.io.js"> </script>
        <script src="/draftdotcloud.js"> </script>

	<script>
	function resize_widget() {
		$('#editor').height(window.innerHeight - $('footer').outerHeight());
	}
	resize_widget();
	$(window).resize(resize_widget);
	</script>

	</body>
</html>
