<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <title>Draft.Cloud: A structured document collaboration platform</title>

    <style>
        @import url('https://fonts.googleapis.com/css?family=Macondo');

        .navbar {
        }

        .navbar-brand {
            font-family: 'Macondo', sans-serif;                
        }

        h1 {
          margin: 30px 0 20px 0;
        }
    </style>        
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">Draft.Cloud</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/apidocs/v1">API Docs</a>
          </li>
        </ul>
      </div>
    </nav>

      <div class="container">
            <h1>Documents</h1>

            {{#documents}}
                <h3><a href="{{web_urls.document}}">{{name}}</a></h3>
                <p>
                    <span title="{{created}}">Started {{createdRel}}.</span>
                    {{#currentRevision}}
                        <span title="{{created}}">Last updated {{createdRel}}.</span>
                    {{/currentRevision}}
                </p>
                <blockquote style="font-size: inherit;">
                    {{preview}}
                </blockquote>
            {{/documents}}
        </div>

        <footer>
          <div class="container">
          </div>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <script src="static/main.js"></script>
    </body>
</html>
