<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/static/npm/bootstrap.min.css">
    <link rel="stylesheet" href="/static/document.css">

    <title>Draft.Cloud: {{owner.name}}/{{document.name}}</title>  
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Draft.Cloud</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <span class="navbar-text">
        <span id="document-owner-name">{{owner.name}}</span>
        / 
        <span id="document-name">{{document.name}}</span>
      </span>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {{#can_rename_document}}
          <span class="navbar-text" style="display: none;">
            <button id="access_level_toggle" data-value="{{document.public_access_level}}" style="font-size: 75%">Access</button>
          </span>
          {{/can_rename_document}}
          <li class="nav-item">
            <a id="fork-document" class="nav-link" href="#fork_document">Make a Copy</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
          </li>
          <li class="nav-item">
            <a id="show-api" class="nav-link" href="#">API</a>
          </li>
        </ul>
      </div>
    </nav>

    {{#document.forkedFrom}}
    <div id="forked-from">
      Based on
      <a href="/edit/{{document.forkedFrom.document.user.name}}/{{document.forkedFrom.document.name}}">
        {{document.forkedFrom.document.user.name}}/{{document.forkedFrom.document.name}}
      </a>
      &mdash;
      <a id="do-merge" href="#">
        Merge
      </a>
    </div>
    {{/document.forkedFrom}}

    <div id="editor">
    <div class="draftdotcloud-widget"
      data-draftdotcloud-widget="quill"
      data-draftdotcloud-owner="{{owner.name}}"
      data-draftdotcloud-document="{{document.name}}"
      ></div>
    </div>

    <footer>
    Thanks for trying Draft.Cloud. This website is a prototype. Documents may be deleted 30 days after their last edit.
    </footer>

    <div id="api-info" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">API</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Software developers, you can read, write, and patch this document using a RESTful HTTP API!</p>
            <table class="table">
              <tr>
                <th>sample</th>
                <td>
                  <a href="/api/v1/documents/{{owner.uuid}}/{{document.uuid}}">GET /api/v1/documents/{{owner.uuid}}/{{document.uuid}}</a>
                  <div class="compact-text">
                    This link will work in your browser because you are logged in with a cookie. Get an API key to access this URL from your application.
                    </div>
                </td>
              </tr>
              <tr>
                <th>docs</th>
                <td><a href="/apidocs/v1">API Documentation</a></td>
              </tr>
              <tr>
                <th>owner id</th>
                <td>{{owner.uuid}}</td>
              </tr>
              <tr>
                <th>document id</th>
                <td>{{document.uuid}}</td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="d-none">
      <div id="user-id">{{user.uuid}}</div>
      <div id="owner-id" can-rename-owner="{{can_rename_owner}}">{{owner.uuid}}</div>
      <div id="document-id" can-rename-document="{{can_rename_document}}">{{document.uuid}}</div>

      <div id="valid-name-text">{{valid_name_text}}</div>
    </div>

    <script src="/static/npm/jquery.min.js"></script>
    <script src="/static/npm/bootstrap.min.js"></script>
    <script src="/static/document.js"> </script>
    <script src="/draftdotcloud.js"> </script>
  </body>
</html>
