<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/document.css">

    <title>Draft.Cloud: {{owner.name}}/{{document.name}}</title>  
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Draft.Cloud</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <span class="navbar-text">
        <span id="document-owner-name">{{owner.name}}</span>
        / 
        <span id="document-name" style="color: black">{{document.name}}</span>
      </span>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {{#can_rename_document}}
          <span class="navbar-text" style="display: none;">
            <a id="access_level_toggle" data-value="{{document.public_access_level}}" style="font-size: 75%" class="btn btn-sm btn-light text-muted">
              <svg class="bi" width="12" height="12" style="margin: -3px 5px 0 0; color: #AAA;">
                <use xlink:href="/static/bootstrap-icons.svg#share"/>
              </svg>
              <span>Access</span>
            </a>
          </span>
          {{/can_rename_document}}

          {{#document.forkedFrom}}
          <li class="nav-item">
            <a id="update-document" class="nav-link" href="#update">Update</a>
          </li>
          {{/document.forkedFrom}}

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a id="fork-document" class="dropdown-item" href="#fork_document">Make a Copy</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout">Log out</a>
              <div class="dropdown-divider"></div>
              <a id="show-api" class="dropdown-item" href="#">Developer API</a>
            </div>
          </li>

        </ul>
      </div>
    </nav>

    <div id="forked-from" data-forked-from-document="{{document.forkedFrom.document.user.uuid}}/{{document.forkedFrom.document.uuid}}">
      <a href="/edit/{{document.forkedFrom.document.user.name}}/{{document.forkedFrom.document.name}}" class="btn btn-primary btn-sm">
        View {{document.forkedFrom.document.user.name}}/{{document.forkedFrom.document.name}}
      </a>
      <svg class="bi" width="32" height="32" style="margin: 0 5px; color: #AAA;">
        <use xlink:href="/static/bootstrap-icons.svg#arrow-left-right"/>
      </svg>
      <a href="/merge/{{document.forkedFrom.document.user.name}}/{{document.forkedFrom.document.name}}?from={{document.user.name}}/{{document.name}}" class="btn btn-secondary btn-sm disabled">
        Send Changes
      </a>
      <a href="/merge/{{document.user.name}}/{{document.name}}?from={{document.forkedFrom.document.user.name}}/{{document.forkedFrom.document.name}}" class="btn btn-secondary btn-sm disabled">
        Get Changes
      </a>
    </div>

    <div id="editor">
    <div class="draftdotcloud-widget"
      data-draftdotcloud-widget="quill"
      data-draftdotcloud-owner="{{owner.name}}"
      data-draftdotcloud-document="{{document.name}}"
      ></div>
    </div>

    <footer>
    Thanks for trying Draft.Cloud. This website is a prototype. Documents may be deleted 30 days after their last edit.
    </footer>

    <div id="api-info" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">API</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Software developers, you can read, write, and patch this document using a RESTful HTTP API!</p>
            <table class="table">
              <tr>
                <th>sample</th>
                <td>
                  <a href="/api/v1/documents/{{owner.uuid}}/{{document.uuid}}">GET /api/v1/documents/{{owner.uuid}}/{{document.uuid}}</a>
                  <div class="compact-text">
                    This link will work in your browser because you are logged in with a cookie. Get an API key to access this URL from your application.
                    </div>
                </td>
              </tr>
              <tr>
                <th>docs</th>
                <td><a href="/apidocs/v1">API Documentation</a></td>
              </tr>
              <tr>
                <th>owner id</th>
                <td>{{owner.uuid}}</td>
              </tr>
              <tr>
                <th>document id</th>
                <td>{{document.uuid}}</td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="d-none">
      <div id="user-id">{{user.uuid}}</div>
      <div id="owner-id" can-rename-owner="{{can_rename_owner}}">{{owner.uuid}}</div>
      <div id="document-id" can-rename-document="{{can_rename_document}}">{{document.uuid}}</div>

      <div id="valid-name-text">{{valid_name_text}}</div>
    </div>

    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script src="/static/document.js"> </script>
    <script src="/draftdotcloud.js"> </script>
  </body>
</html>
